@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

/*-----------navbar------------*/

#logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-decoration: none;
    right: 0;
    top: 12px;
}

.navbar-links {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fafafa;
    margin-right: 10px;
}

.bg-nav-bar {
    background-color: #269014;
    min-height: 75px;
}

/*-----------home------------*/

.container-home {
    height: 450px;
    position: relative;
    background: url("/static/images/home-bg.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-home {
    color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 250px; 
    width: 50%;
 }

 .divider {
    width: 400px;
    text-align: center;
    background-color: #269014;
}

@media only screen and (max-width: 430px) {
    .divider {
        width: 75%;
    }
}

/*-----------footer------------*/

.social-media {
    background: #269014;
    height: 100px;
}

.social-links {
    color: #fafafa;
    padding: 10px;
    font-size: 30px;
}

.social-links:hover {
    color: black;
}

/*-----------recipe(s)------------*/

.btn-edit {
    background: #269014;
    color: #fafafa;
    margin: 30px 10px 20px 0 ;
    height: 50px;
    width: 100px;
}

.btn-del {
    background: rgb(190, 21, 38);
    color: #fafafa;
    margin: 30px 10px 20px 0;
    height: 50px;
    width: 100px;
}

.recipe-img {
    width: 70%;
    object-fit: contain;
}

.inst-list {
    list-style: none;
}

.recipe-field {
    margin-left: 40px;
}

.recipe-field-list{
    margin-left: 20px;
}

.border-search-bar {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 2px #269014 solid;
}

.arrow {
    color: black;
}

.card-border {
    border:none;
}

.card-info {
    color: black;
}

.card-img {
    padding: 10px;
    border: none;
    max-height: 190px; 
    object-fit: cover;
}

@media only screen and (max-width: 767px) {
    .img-h {
        max-height: 245px;
    }
}

.page-title {
    margin-top: 120px;
}

.title-center-text {
    margin: 0 auto;
}

/*-----------hovers------------*/

.arrow:hover {
    color: #269014;
}

.navbar-links:hover {
    color: black;
}

.card-info:hover{
    color:  #269014;
}

a:hover{
    text-decoration: none;
}

.btn-del:hover{
    color:black;
}
