@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');

.home-rec-links {
    text-decoration: none;
    color: #269014;
}

li {
    list-style: none;
}

#logo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-decoration: none;
    right: 0;
    top: 12px;
    


}

.btn-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fafafa;
    margin-right: 10px;
}

.bg-nav-bar {
    background-color: #269014;
    min-height: 75px;
}

.social-media {
    background: #269014;
    width: 100vw;
    height: 100px;
}

.btn-edit {
    background: #269014;
    color: #fafafa;
    margin: 20px 10px 20px 0 ;
    height: 50px;
    width: 100px;
}

.btn-del {
    background: #51050D;
    color: #fafafa;
    margin: 20px 10px 0 0;
    height: 50px;
    width: 100px;
}

.img-h {
    max-height: 200px;
    padding: 10px;
    border: none;
}

.card-new {
    margin: 10px;
}

.container-home {
     height: 450px;
    position: relative;
    background: url("/static/images/home-bg.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-home {
    color: black;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    margin: 50px 0 50px 0;
    
 }

 .container-header {
     border-bottom: #269014 solid 2px;
 }

 .sub-headers {
     font-family: 'Open Sans', sans-serif;
     margin-left: 20px;

 }

.divider {
    width: 400px;
    text-align: center;
    background-color: #269014;
}

.container-links {
    margin-top:50px;
    margin-bottom: 50px; 
}

.home-rec{
    text-align: left;
    margin: 25px 0 0 200px;
}

.social-links {
    color: #fafafa;
    padding: 10px;
    font-size: 30px;
}

a:hover{
    text-decoration: none;
    color: black;
}

