{% extends 'base.html' %}
{% block content %}
<div class="container-fluid container-home">
</div>
<div class="">
	<h2 class="header-home text-center">Help us build the largest recipe library in the world! Add one today!</h2>
</div>
<hr class="divider">
<div class="row">
	<div class="col-md-6 pb-5 pt-5 text-center">
		<h3 class="sub-headers">Recently Added:</h3>
		<ul class="home-rec">
			{% for rec in recently_added %}
			<li><a class="home-rec-links" href='/recipe/{{rec._id}}'> {{rec.name}} </a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6 pb-5 pt-5 text-center">
		<h3 class="sub-headers">Most Viewed:</h3>
		<ol class="home-rec">
			{% for rec in top_four %}
			<li><a class="home-rec-links" href='/recipe/{{rec._id}}'> {{rec.name}} </a></li>
			{% endfor %}
		</ol>
	</div>
<div>
{% endblock %}