{% extends 'base.html' %}
{% block content %}
<div class="container-fluid container-home">
</div>
<div class="">
	<h2 class="header-home text-center">Help us build the largest recipe library in the world! <br>Add one today!</h2>
</div>
<hr class="divider mb-5">
<div class="container">
	<h3 class="sub-headers text-center font-weight">Recently Added</h3>
	<div class="boxed ">
		<div class="row row-cols-1 row-cols-md-3">
			{% for rec in recently_added %}
			<a href="{{url_for('get_recipe', recipe_id=rec._id)}}">
				<div class="col mb-4 card-new">
					<div class="card card-recipe">
						{% if not rec.image %}
						<img src="/static/images/default_image.png" class="card-img-top img-h" alt="...">
                        {% else %}
						<img src="{{rec.image}}" class="card-img-top img-h" alt="...">
                        {% endif %}
						<div class="card-body">
							<h5 class="card-title">{{rec.name}}</h5>
							<p class="card-text">
								<!--{{rec.ingredients if rec.ingredients.__len__() < 50 else rec.ingredients[:50] + '...'}}-->
								Preparation Time: {{rec.prep_time}}
							</p>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
		<h3 class="sub-headers text-center font-weight">Most Viewed</h3>
		<div class="boxed ">
			<div class="row row-cols-1 row-cols-md-3">
				{% for rec in top_four %}
				<a href="{{url_for('get_recipe', recipe_id=rec._id)}}">
					<div class="col mb-4 card-new">
						<div class="card card-recipe">
							<img src="{{rec.image}}" class="card-img-top img-h" alt="...">
							<div class="card-body">
								<h5 class="card-title">{{rec.name}}</h5>
								<p class="card-text">
									<!--{{rec.ingredients if rec.ingredients.__len__() < 50 else rec.ingredients[:50] + '...'}}-->
									Preparation Time: {{rec.prep_time}}
								</p>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

{% endblock %}